body {
    margin: 0;
    font-family: Arial;
    background: #fafafa;
}

.toolbar {
    display: flex;
    gap: 8px;
    padding: 10px;
    background: #333;
}
.tool-btn {
    background: #555;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}
.tool-btn.active {
    background: #1abc9c;
}

#doorType {
    padding: 6px 8px;
    font-size: 14px;
}

.properties {
    background: #eee;
    padding: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
}

#drawingCanvas {
    border: 1px solid #bbb;
    background: #fff;
    display: block;
    margin: 10px auto;
}

# lineColorPreview,
# fillColorPreview {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}

.coordinates {
    text-align: center;
    font-size: 14px;
    padding: 6px 0;
    background: #f3f3f3;
}

.tool-info {
    color: #fff;
    margin-left: auto;
    padding: 6px;
}
